<!doctype html>
<html lang="en">
{% include head.html %}
<body id="home">
  {% include header.html %}
  <div class="container">
    <main>
      <div class="hero">
        {{ content }}
      </div>
      <h2>Chapters:</h2>
      <ul class="home-content">
        {% for post in site.posts %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <div class="description">
            {{ post.description }}
          </div>
        </li>
        {% endfor %}
      </ul>
    </main>
  </div>
{% include footer.html %}
</body>
</html>
